openapi: 3.0.3
info:
  contact:
    email: engineering@femsa.com
    name: Engineering Femsa
    url: https://github.com/digitalfemsa/openapi/issues
  description: Femsa sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Femsa API
  version: 2.1.0
servers:
- description: Femsa main server
  url: https://api.digitalfemsa.io
security:
- bearerAuth: []
paths:
  /api_keys:
    get:
      description: |
        Retrieves a paginated list of API keys for the authenticated account.

        Use the pagination parameters (`limit`, `next_page`, `previous_page`) to navigate through results.
        Use the `search` query parameter to perform a general search (for example by key `id` or description).
      operationId: getApiKeys
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      - description: "General search, e.g. by id, description, prefix"
        in: query
        name: search
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_api_keys_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: List API keys
      tags:
      - Api Keys
    post:
      description: |
        Creates a new API key.

        The response includes an `authentication_token` that is shown only once (at creation time).
        Copy and store it securely.
      operationId: createApiKey
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/api_keys_create'
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/api_key_create_response'
          description: successful operation
        "401":
          $ref: ./resources/api_keys/../../errors/401.yml
        "422":
          $ref: ./resources/api_keys/../../errors/422.yml
        "500":
          $ref: ./resources/api_keys/../../errors/500.yml
      security:
      - bearerAuth: []
      summary: Create API key
      tags:
      - Api Keys
  /api_keys/{id}:
    $ref: ./resources/api_keys/api_key.yml
  /balance:
    $ref: ./resources/balances/balances.yml
  /charges:
    $ref: ./resources/charges/charges.yml
  /charges/{id}:
    $ref: ./resources/charges/update_charge.yml
  /orders/{id}/charges:
    $ref: ./resources/orders/order_charge_param.yml
  /companies:
    $ref: ./resources/companies/companies.yml
  /companies/{id}:
    $ref: ./resources/companies/company.yml
  /customers:
    $ref: ./resources/customers/create_customer.yml
  /customers/{id}:
    $ref: ./resources/customers/get_customer.yml
  /customers/{id}/fiscal_entities:
    $ref: ./resources/customers/create_customer_fiscal_entities.yml
  /customers/{id}/fiscal_entities/{fiscal_entities_id}:
    $ref: ./resources/customers/update_customer_fiscal_entities.yml
  /orders/{id}/discount_lines:
    $ref: ./resources/orders/discount_lines_param.yml
  /orders/{id}/discount_lines/{discount_lines_id}:
    $ref: ./resources/orders/update_order_discount_lines_param.yml
  /events:
    $ref: ./resources/events/events.yml
  /events/{id}:
    $ref: ./resources/events/event.yml
  /events/{event_id}/webhook_logs/{webhook_log_id}/resend:
    $ref: ./resources/events/events_resend.yml
  /logs:
    $ref: ./resources/logs/log.yml
  /logs/{id}:
    $ref: ./resources/logs/log_by_id.yml
  /orders:
    $ref: ./resources/orders/order.yml
  /orders/{id}:
    $ref: ./resources/orders/order_param.yml
  /orders/{id}/cancel:
    $ref: ./resources/orders/order_cancel_param.yml
  /orders/{id}/capture:
    $ref: ./resources/orders/order_capture_param.yml
  /orders/{id}/line_items:
    $ref: ./resources/orders/order_product_param.yml
  /orders/{id}/line_items/{line_item_id}:
    $ref: ./resources/orders/update_order_product_param.yml
  /orders/{id}/refunds:
    $ref: ./resources/orders/order_refunds_param.yml
  /orders/{id}/refunds/{refund_id}:
    $ref: ./resources/orders/order_cancel_refunds_param.yml
  /checkouts:
    $ref: ./resources/checkouts/checkouts.yml
  /checkouts/{id}:
    $ref: ./resources/checkouts/checkout.yml
  /checkouts/{id}/cancel:
    $ref: ./resources/checkouts/checkout_cancel.yml
  /checkouts/{id}/email:
    $ref: ./resources/checkouts/checkout_email.yml
  /checkouts/{id}/sms:
    $ref: ./resources/checkouts/checkout_sms.yml
  /customers/{id}/payment_sources:
    $ref: ./resources/customers/create_customer_payment_methods.yml
  /customers/{id}/payment_sources/{payment_method_id}:
    $ref: ./resources/customers/update_customer_payment_methods.yml
  /orders/{id}/shipping_lines:
    $ref: ./resources/orders/order_shipping_param.yml
  /orders/{id}/shipping_lines/{shipping_id}:
    $ref: ./resources/orders/update_order_shipping_param.yml
  /customers/{id}/shipping_contacts:
    $ref: ./resources/customers/create_customer_shipping_contacts.yml
  /customers/{id}/shipping_contacts/{shipping_contacts_id}:
    $ref: ./resources/customers/update_customer_shipping_contacts.yml
  /orders/{id}/tax_lines:
    $ref: ./resources/orders/order_tax_param.yml
  /orders/{id}/tax_lines/{tax_id}:
    $ref: ./resources/orders/update_order_tax_param.yml
  /transactions:
    $ref: ./resources/transactions/transactions.yml
  /transactions/{id}:
    $ref: ./resources/transactions/transaction.yml
  /transfers:
    $ref: ./resources/transfers/transfers.yml
  /transfers/{id}:
    $ref: ./resources/transfers/transfer.yml
  /webhook_keys:
    $ref: ./resources/webhook_keys/webhook_keys.yml
  /webhook_keys/{id}:
    $ref: ./resources/webhook_keys/webhook_key.yml
  /webhooks:
    $ref: ./resources/webhooks/webhooks.yml
  /webhooks/{id}:
    $ref: ./resources/webhooks/webhook.yml
  /webhooks/{id}/test:
    $ref: ./resources/webhooks/webhook_test.yml
components:
  parameters:
    accept_language:
      description: Use for knowing which language to use
      examples:
        es:
          summary: for spanish request/response
          value: es
        en:
          summary: for english request/response
          value: en
      in: header
      name: Accept-Language
      required: false
      schema:
        default: es
        enum:
        - es
        - en
        type: string
    x_child_company_id:
      description: "In the case of a holding company, the company id of the child\
        \ company to which will process the request."
      example: 6441b6376b60c3a638da80af
      in: header
      name: X-Child-Company-Id
      required: false
      schema:
        type: string
    limit:
      description: "The numbers of items to return, the maximum value is 250"
      in: query
      name: limit
      required: false
      schema:
        default: 20
        format: int32
        maximum: 250
        minimum: 1
        type: integer
    next_page:
      description: next page
      in: query
      name: next
      required: false
      schema:
        type: string
    previous_page:
      description: previous page
      in: query
      name: previous
      required: false
      schema:
        type: string
  requestBodies:
    api_keys_create:
      content:
        application/json:
          schema:
            $ref: ./schemas/api_keys/api_key_request.yml
      description: requested field for a api keys
      required: true
  responses:
    "401":
      content:
        application/vnd.app-v2.1.0+json:
          example:
            details:
            - message: Please include your access key in your request.
              param: null
              code: femsa.errors.authentication.missing_key
            log_id: 507f1f77bcf86cd799439011
            object: error
            type: authentication_error
          schema:
            $ref: '#/components/schemas/error'
      description: authentication error
    "500":
      content:
        application/vnd.app-v2.1.0+json:
          example:
            details:
            - debug_message: There was a runtime error and Femsa engineers have been
                notified.
              message: There was a runtime error and Femsa engineers have been notified.
              param: null
              code: femsa.errors.api.system.general_failure
            object: error
            type: api_error
            log_id: 641b6f2b3cd9a50001515098
          schema:
            $ref: '#/components/schemas/error'
      description: internal server error
  schemas:
    page:
      description: page metadata
      properties:
        next_page_url:
          description: URL of the next page.
          example: https://api.femsa.io/resources?limit=10&next=chrg_1
          nullable: true
          type: string
        previous_page_url:
          description: Url of the previous page.
          example: https://api.femsa.io/resources?limit=10&previous=chrg_1
          nullable: true
          type: string
      title: page metadata
      type: object
    pagination:
      description: pagination metadata
      properties:
        has_more:
          description: Indicates if there are more pages to be requested
          example: false
          type: boolean
        object:
          description: "Object type, in this case is list"
          example: list
          type: string
      required:
      - has_more
      - object
      title: pagination metadata
      type: object
    api_key_response:
      description: api keys model
      properties:
        active:
          description: Indicates if the api key is active
          example: true
          type: boolean
        created_at:
          description: Unix timestamp in seconds of when the api key was created
          example: 1684167881
          format: int64
          type: integer
        updated_at:
          description: Unix timestamp in seconds of when the api key was last updated
          example: 1684167923
          format: int64
          type: integer
        deactivated_at:
          description: Unix timestamp in seconds of when the api key was deleted
          format: int64
          nullable: true
          type: integer
          example: null
        description:
          description: A name or brief explanation of what this api key is used for
          example: online store
          type: string
        id:
          description: Unique identifier of the api key
          example: 64625cc9f3e02c00163f5e4d
          type: string
        livemode:
          description: Indicates if the api key is in production
          example: false
          type: boolean
        deleted:
          description: Indicates if the api key was deleted
          example: false
          type: boolean
        object:
          description: "Object name, value is 'api_key'"
          example: api_key
          type: string
        prefix:
          description: The first few characters of the authentication_token
          example: key_rp
          type: string
        role:
          description: Indicates if the api key is private or public
          example: private
          type: string
      title: api_key_response
      type: object
    error:
      allOf:
      - $ref: ./schemas/errors/details.yml#/details
      - properties:
          log_id:
            description: log id
            example: 507f1f77bcf86cd799439011
            nullable: true
            type: string
          type:
            example: authentication_error
            type: string
          object:
            example: error
            type: string
        type: object
      description: err model
      title: error
    get_api_keys_response:
      allOf:
      - $ref: '#/components/schemas/page'
      - $ref: '#/components/schemas/pagination'
      - properties:
          data:
            items:
              $ref: '#/components/schemas/api_key_response'
            type: array
        type: object
      title: get_api_keys_response
    api_key_create_response:
      allOf:
      - properties:
          authentication_token:
            description: |
              Used as the username for Basic Authentication, with a blank password. This value is shown only once (when the key is created). Copy and store it securely.
            example: key_rpHzxufNgjFCdprEEFZRTKi
            type: string
        type: object
      - $ref: '#/components/schemas/api_key_response'
      title: api_key_create_response
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
