openapi: 3.0.3
info:
  contact:
    email: engineering@femsa.com
    name: Engineering Femsa
    url: https://github.com/digitalfemsa/openapi/issues
  description: Femsa sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Femsa API
  version: 2.1.0
servers:
- description: Femsa main server
  url: https://api.digitalfemsa.io
security:
- bearerAuth: []
paths:
  /api_keys:
    get:
      description: Consume the list of API keys you have.
      operationId: getApiKeys
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      - description: "General search, e.g. by id, description, prefix"
        in: query
        name: search
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/get_api_keys_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get list of Api Keys
      tags:
      - Api Keys
    post:
      description: Create an API key.
      operationId: createApiKey
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/api_keys_create'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/api_key_create_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Api Key
      tags:
      - Api Keys
  /api_keys/{id}:
    delete:
      description: Deletes an API key by its ID.
      operationId: deleteApiKey
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/delete_api_keys_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Delete Api Key
      tags:
      - Api Keys
    get:
      description: Gets an API key by its ID.
      operationId: getApiKey
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Api Key
      tags:
      - Api Keys
    put:
      description: Update an existing API key.
      operationId: updateApiKey
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_key_update_request'
        required: true
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/api_key_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update Api Key
      tags:
      - Api Keys
  /balance:
    get:
      description: Get a company's balance
      operationId: getBalance
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/balance_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a company's balance
      tags:
      - Balances
  /charges:
    get:
      operationId: getCharges
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/get_charges_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: The "custom_field" parameter is not allowed
                  message: El parametro "custom_field" no está permitido
                  code: femsa.errors.parameter_validation.whitelist
                object: error
                type: parameter_validation_error
                log_id: 6462aa7c90fef20001633546
              schema:
                $ref: '#/components/schemas/error'
          description: whitelist validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get A List of Charges
      tags:
      - Charges
  /charges/{id}:
    put:
      description: Updates an existing charge. Only `reference_id` can be updated.
      operationId: updateCharge
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/charge_update'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/charge_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update a charge
      tags:
      - Charges
  /orders/{id}/charges:
    post:
      description: |
        Create a charge for an existing order.

        Notes:
        - This endpoint creates a charge **associated to the given order** (`order_id`).
        - Some payment methods may result in a `pending_payment` charge status and can affect subsequent order operations.
        - If the order does not meet the required conditions, the API may respond with **428 Precondition Required**.
      operationId: ordersCreateCharge
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/charge_create'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/charge_order_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "428":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: The order cannot be modified because it has already
                    a charge which is pending payment.
                  message: The order cannot be modified because it has already a charge
                    which is pending payment.
                  param: null
                  code: femsa.errors.precondition_required.combo.order.cannot_be_updated_because_has_charge
                log_id: 641b6e233cd9a50001515039
                object: error
                type: precondition_required_error
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Required
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create charge
      tags:
      - Charges
  /companies:
    get:
      description: Consume the list of child companies.  This is used for holding
        companies with several child entities.
      operationId: getCompanies
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_companies_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get List of Companies
      tags:
      - Companies
  /companies/{id}:
    get:
      operationId: getCompany
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/company_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Company
      tags:
      - Companies
  /customers:
    get:
      description: Retrieves a paginated list of customers.
      operationId: getCustomers
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/customers_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a list of customers
      tags:
      - Customers
    post:
      description: Creates a customer.
      operationId: createCustomer
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "402":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The order could not be processed.
                  code: femsa.errors.processing.order.used
                  debug_message: The order has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create customer
      tags:
      - Customers
  /customers/{id}:
    delete:
      description: Deleted a customer resource that corresponds to a customer ID.
      operationId: deleteCustomerById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Delete Customer
      tags:
      - Customers
    get:
      description: Gets a customer resource that corresponds to a customer ID.
      operationId: getCustomerById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Customer
      tags:
      - Customers
    put:
      description: You can update customer-related data
      operationId: updateCustomer
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/update_customer'
      responses:
        "200":
          content:
            application/vnd.app-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "402":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The order could not be processed.
                  code: femsa.errors.processing.order.used
                  debug_message: The order has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update customer
      tags:
      - Customers
  /customers/{id}/fiscal_entities:
    post:
      description: Create a fiscal entity resource for a given customer ID.
      operationId: CreateCustomerFiscalEntities
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Fiscal Entity
      tags:
      - Customers
  /customers/{id}/fiscal_entities/{fiscal_entities_id}:
    put:
      description: Update Fiscal Entity resource that corresponds to a customer ID.
      operationId: UpdateCustomerFiscalEntities
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: fis_ent_2tQ8HkkfbauaKP9Ho
        in: path
        name: fiscal_entities_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_update_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update Fiscal Entity
      tags:
      - Customers
  /orders/{id}/discount_lines:
    get:
      description: Get discount lines for an existing order
      operationId: ordersGetDiscountLines
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/get_order_discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a List of Discounts
      tags:
      - Discounts
    post:
      description: Create discount lines for an existing order
      operationId: ordersCreateDiscountLine
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_create'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Discount
      tags:
      - Discounts
  /orders/{id}/discount_lines/{discount_lines_id}:
    delete:
      description: Delete an existing discount line for an existing order
      operationId: ordersDeleteDiscountLines
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: discount line id identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Delete Discount
      tags:
      - Discounts
    get:
      description: Get an existing discount line for an existing order
      operationId: ordersGetDiscountLine
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: discount line id identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Discount
      tags:
      - Discounts
    put:
      description: Update an existing discount line for an existing order
      operationId: ordersUpdateDiscountLines
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: discount line id identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_update'
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The name does not exist.
                  param: payment_method.name
                  code: femsa.errors.parameter_validation.payment_method.name.nonexistent_token
                  debug_message: The name does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update Discount
      tags:
      - Discounts
  /events:
    get:
      operationId: getEvents
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/get_events_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get list of Events
      tags:
      - Events
  /events/{id}:
    get:
      description: |
        Returns a single event by its ID, including its payload (`data`) and webhook delivery information.
        The `webhook_status` indicates whether webhook notifications were applicable and their overall status. The [webhook_logs]) array contains delivery attempts (it can be empty when webhook notifications are not applicable or no attempts were created).
      operationId: getEvent
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/event_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Event
      tags:
      - Events
  /events/{event_id}/webhook_logs/{webhook_log_id}/resend:
    post:
      description: |
        Triggers a new delivery attempt for a specific webhook log associated with the given event.
        Use this endpoint to retry failed webhook deliveries (for example, non-2xx responses or timeouts). The response returns the updated webhook log with the latest attempt metadata.
      operationId: resendEvent
      parameters:
      - description: event identifier
        example: 6463d6e35a4c3e001819e760
        in: path
        name: event_id
        required: true
        schema:
          type: string
      - description: webhook log identifier
        example: webhl_2tsv6NzWJHBWCkqGt
        in: path
        name: webhook_log_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/events_resend_response'
          description: successful operation
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Resend Event
      tags:
      - Events
  /logs:
    get:
      description: |
        Returns a paginated list of logs generated by the platform. Logs can be used for troubleshooting and auditing requests and internal operations.
        Use pagination parameters to navigate through results, and `search` to filter by supported criteria.
      operationId: getLogs
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/logs_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get List Of Logs
      tags:
      - Logs
  /logs/{id}:
    get:
      description: |
        Returns a single log by its ID. Logs can be used for troubleshooting and auditing requests and internal operations.
      operationId: getLogById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.app-v2.2.0+json:
              schema:
                $ref: '#/components/schemas/log_response'
          description: successful
        "401":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: femsa.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: femsa.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.app-v2.2.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Femsa engineers have
                    been notified.
                  message: There was a runtime error and Femsa engineers have been
                    notified.
                  param: null
                  code: femsa.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Log
      tags:
      - Logs
  /orders:
    get:
      description: |
        Returns a paginated list of orders created in your account.
        Use pagination parameters to navigate through results, and `search` to filter by supported criteria.
      operationId: getOrders
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        example: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
[...]
